.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 80%;
	max-width: 422px;
	min-width: 339px;
	height: 352px;
	min-height: 328px;
	background: var(--gray);
	border-radius: 16px;
	padding: 40px 55px;
	margin: 0 10px;

	.feathers {
		position: absolute;
		right: -30px;
		top: -30px;
	}

	h3 {
		font-weight: 600;
		font-size: 32px;
	}

	label {
		width: 100%;

		input {
			width: 100%;
			padding: 12px 24px;
			height: 48px;
			font-size: 16px;
			background: var(--white);
			border-radius: 40px;
			border: none;
		}
	}

	button {
		width: 100%;
		&:disabled {
			filter: grayscale(0.4);
			background: var(--froly);
		}
	}
}

.error {
	color: red;
	margin-top: 5px;
	font-size: 14px;
}
