.menu {
	display: flex;
	justify-content: space-between;
	min-height: 115px;
	padding: 0 20px;
	position: relative;
	z-index: 150;
	background: var(--gray);
	align-items: center;
	width: 100%;
	border-bottom: 3px solid var(--dark-600);
	&Logo {
		width: 111px;
		height: 37px;
	}

	.navigation {
		position: absolute;
		z-index: 100;
		background: var(--gray);
		transition: all 0.5s ease-in-out;
		width: 100%;
		height: 100vh;
		top: -5px;
		right: 0;
		display: none;
		flex-direction: column;
		align-items: center;
		padding: 37px 80px;
		&Links {
			margin-top: 75px;
			height: 320px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			text-align: center;
		}
		&ApplyBtn {
			margin-top: 70px;
			width: 337px;
			min-width: 200px;
		}
		@media (max-height: 667px) {
			&Links {
				margin-top: 10px;
			}
			&ApplyBtn {
				margin-top: 100px;
			}
		}
	}
}
