.button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48px;
	outline: none;
	border: none;
	border-radius: 40px;
	font-weight: 700;
	cursor: pointer;

	&:disabled {
		filter: grayscale(0.7);
	}

	&:hover {
		background-color: black;
		color: var(--white);
		box-shadow: var(--dark-600) 0px 5px 15px;
		transition: all ease-in-out 400ms;
	}
}

.nav {
	background-color: var(--white);
	color: black;
	font-size: 16px;
}

.primary {
	background-color: var(--froly);
	color: var(--white);
	font-size: 13px;
}
